# ===== Angular =====
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ===== Spring Boot =====
backend/target/
backend/*.jar
backend/*.war

# ===== IDE =====
.vscode/
.idea/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / Secrets =====
.env
application.properties

# ===== docs =====
docs/BYTECHAT_DOCUMENTATION.md
docs/DEPLOYMENT.md
